<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excel CSV Demo</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/convert" target="_blank"
          >Convert Excel to CSV using exceljs</a
        >
      </li>
      <li><a href="/excel" target="_blank">Read Excel</a></li>
      <li><a href="/csv" target="_blank">Read CSV</a></li>
      <li>
        <a href="/write_csv" target="_blank"
          >Convert Excel to CSV using fast-csv</a
        >
      </li>
    </ul>
  </body>
</html>
